﻿@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="row">
        <h2>Entrada datos:</h2>
        @using (Ajax.BeginForm("EjecutarProceso", "Home",
                                   new AjaxOptions { UpdateTargetId = "divInterestDeatils" }))
        {
            @Html.TextArea("data_input", null, new { @class = "form-control" })
            <div id="divInterestDeatils"></div>
            <button>Calculate</button>
        }
    </div>
</div>